nav {
  background-color: black;
  height: 4em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.title {
  color: white;
  font-weight: bold;
  padding: 0 0.3rem;
}

img {
  width: 2em;
}

form {
  width: 60%;
}

.search {
  width: 80%;
  height: 21px;
  background-color: rgb(59, 59, 59);
  border: none;
}

.search_icon {
  width: 1em;
  color: white;
  outline-color: none;
}

button {
  border: 0;
  background-color: grey;
  padding: 0.16em 0.5em;
  outline: none;
}
